:root {
	--font-mono: 'IBM Plex Mono', monospace;
}

html {
	scrollbar-gutter: stable;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1;
}

.mono {
	font-family: var(--font-mono);
}

:where(audio, iframe, img, svg, video) {
	max-block-size: 100%;
	max-inline-size: 100%;
}

:where(label):has(+ :where(textarea, input, select)) {
	display: block;
}

:where(textarea:not([rows])) {
	min-block-size: 6em;
}

:where(button, input, select, textarea) {
	font-family: inherit;
	font-size: inherit;
}

html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
:where([type='search']) {
	-webkit-appearance: textfield;
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
	:where([type='search']) {
		border: 1px solid -apple-system-secondary-label;
		background-color: canvas;
	}
}

* {
	margin: 0;
}

nav {
	margin-bottom: 1rem;
}

nav p::before {
	content: '▸ ';
}

main main,
nav nav {
	margin-inline-start: 1rem;
}

button[data-text],
button[type='submit'] {
	all: unset;
}

a,
button[data-text],
button[type='submit'] {
	color: blue;
	text-decoration: none;
	/*border: 1px solid;*/
}

em {
	font-family: var(--mono);
	font-style: normal;
}

input[type='text'],
select {
	padding: 0;
	border: 0;
}

p {
	background: #eee;
}
